@use '../../styles/variables' as vars;
@use '../../styles/colors';
@use '../../styles/mixins' as mixins;

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;

  &--active {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: colors.$color-overlay-dark;
  z-index: -1;
}

.modal__content {
  position: relative;
  min-width: 50%;
  max-width: 90vw;
  max-height: 90vh;
  background-color: #000;
  border-radius: 8px;
  overflow: auto;
  z-index: 10;

  @include mixins.respond-md {
    max-width: 95vw;
    max-height: 95vh;
  }
}

.modal__close {
  position: absolute;
  top: vars.$space-md;
  right: vars.$space-md;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  color: #fff;
  font-size: 32px;
  width: 48px;
  height: 48px;
  cursor: pointer;
  z-index: 11;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  transition: all 0.3s ease;

  &:hover,
  &:focus {
    background-color: rgba(255, 255, 255, 0.3);
    outline: 2px solid colors.$color-primary;
    outline-offset: 2px;
  }

  &:active {
    background-color: rgba(255, 255, 255, 0.4);
  }

  @include mixins.respond-md {
    font-size: 36px;
  }
}

.modal__body {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
